
* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}


body {
    padding: 3% 10%;
}

header {
    display: flex;
    justify-content: center;
}



header a {
    text-decoration: none;
    margin: 0 10px;
    color: black;
}

header a:hover {
    text-decoration: underline;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border: 3px solid black;
    padding: 0 4%;
    background-color: white;
}

.name {
    font-weight: 700;
}

.container {
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    gap: 5%;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    margin-top: 100px;

}
.item {
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item img {
    width: 160px;
    margin: 0;
    padding: 0;
}

.description {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 20px 0;
}


.like {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.like p {
    margin: 0;
    padding: 0;
}

.item button {
    width: 100%;
}